.stream_overlay {
  background-color: #00FF00 !important;
  width: 100%;
  height: calc(calc(calc(100vw - 256px) / 16) * 9);
  max-height: calc(100vh - 65px);
}

.overlay_header {
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 5px #000;
}

.overlay_content {
  width: 100%;
  height: calc(100% - 100px);
}

.overlay_footer {
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 7px #000;
}

/* HEADER */
.header_overlay_header {
  width: 100%;
  height: 100%;
  background-color: red !important;
  display: flex;
  justify-content: start;
}

.header_item_container {
  width: calc(100% / 5);
  padding: 4px;
  font-size: 10pt;
  text-align: center;
}

.header_item_container:hover {
  cursor:grab;
}

.header_item_container:active {
  cursor:grabbing;
}

.header_item_wrapper {
  display: inline-block;
}

.header_item_text_container {
  float: left;
}

.header_item_icon {
  float: left;
  font-size: 20pt;
  padding-top: 8px;
  text-align: start !important;
}

.header_item_text {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 0px !important;
  text-align: start !important;
}

.header_item_colon {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  margin-bottom: 0px !important;
  text-align: start !important;
}

.header_item_value {
  padding-left: 5px;
  text-align: start !important;
}

/* FOOTER */
.footer_overlay_footer {
  width: 100%;
  height: 100%;
  background-color: red !important;
  display: flex;
  justify-content: start;
}

.footer_item_container {
  width: calc(100% / 5);
  padding-top: 4px;
  font-size: 10pt;
  text-align: center;
}

.footer_item_container:hover {
  cursor:grab;
}

.footer_item_container:active {
  cursor:grabbing;
}

.footer_item_wrapper {
  display: inline-block;
}

.footer_item_text_container {
  float: left;
}

.footer_item_icon {
  float: left;
  font-size: 20pt;
  padding-top: 8px;
  text-align: start !important;
}

.footer_item_text {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 0px !important;
  text-align: start !important;
}

.footer_item_colon {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  margin-bottom: 0px !important;
  text-align: start !important;
}

.footer_item_value {
  padding-left: 5px;
  text-align: start !important;
}

@media only screen and (max-width: 1263px) {
  .stream_overlay {
    display: none;
    //TODO DISPLAY NOT FOUND
  }
}